# Python
# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Database
*.db

# Logs
*.log
logs/

# Test files
tests/states/

# Migration files
migrations/versions/*.py

# Workspaces
workspaces/

# Markdown drafts
_*.md

# RAG
_rag

# Allow language preference file
.kiro/steering/*.md
!.kiro/steering/language-preference.md

.kiro/specs/* 

.claude
