# Python
# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Database
*.db

# Logs
*.log
logs/

# Test files
tests/states/

# Migration files
migrations/versions/*.py

# Workspaces
workspaces/

# Markdown drafts
_*.md

# RAG
_rag

# Allow language preference file
.kiro/steering/*.md
!.kiro/steering/language-preference.md

.kiro/specs/* 

.claude

# frontend
node_modules/
dist/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

_*.md

data

